@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

body {
    font-family: 'Bakbak One', cursive;
    width: max-content;
    margin: 0 auto;
    background-color: pink;
}

.answer {
    color: green;
    margin-left: 5%;
}

.ask {
    color: royalblue;
}